@import url(./reset.scss);
@import url(./variables.scss);

html {
    background-color: var(--clr-black);
    min-height: 100vh;
}

body {
    color: var(--clr-white);
    font-family: var(--font-family-segoe);
    text-rendering: optimizeLegibility;
}

h1 {
    font: var(--typography-headline-1)
}

h2 {
    font: var(--typography-headline-2)
}

h3 {
    font: var(--typography-headline-3)
}

h4 {
    font: var(--typography-headline-4)
}

h5 {
    font: var(--typography-headline-5)
}

h6 {
    font: var(--typography-headline-6)
}

.container {
    margin: 0 auto;
    padding: 12px;
    width: 100%;

    @media only screen and (min-width: var(--break-point-xs)) {
        max-width: 540px;
    }

    @media only screen and (min-width: var(--break-point-sm)) {
        max-width: 720px;
    }

    @media only screen and (min-width: var(--break-point-md)) {
        max-width: 960px;
    }

    @media only screen and (min-width: var(--break-point-lg)) {
        max-width: 1264px;
    }

    @media only screen and (min-width: var(--break-point-xl)) {
        max-width: 1600px;
    }
}
