html {
    background-color: var(--clr-black);
    min-height: 100vh;
}

body {
    color: var(--clr-white);
    font-family: var(--font-family-segoe);
    text-rendering: optimizeLegibility;
}

h1 {
    font: var(--typography-headline-1)
}

h2 {
    font: var(--typography-headline-2)
}

h3 {
    font: var(--typography-headline-3)
}

h4 {
    font: var(--typography-headline-4)
}

h5 {
    font: var(--typography-headline-5)
}

h6 {
    font: var(--typography-headline-6)
}

code {
    background-color: var(--clr-grey-dark);
    border-radius: 4px;
    border: solid 1px var(--clr-grey);
    color: var(--clr-secondary-dark);
    padding: 2px 4px !important;
}

.container {
    margin: 0 auto;
    padding: 12px;
    width: 100%;

    @media only screen and (min-width: $breakpoint-xs) {
        max-width: 540px;
    }

    @media only screen and (min-width: $breakpoint-sm) {
        max-width: 720px;
    }

    @media only screen and (min-width: $breakpoint-md) {
        max-width: 960px;
    }

    @media only screen and (min-width: $breakpoint-lg) {
        max-width: 1264px;
    }

    @media only screen and (min-width: $breakpoint-xl) {
        max-width: 1600px;
    }
}

.muted {
    opacity: 0.8;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}