:root {
    /**
    * @color-palette
    */

    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-grey: #737373;
    --clr-grey-light: #D4D4D4;
    --clr-grey-dark: #404040;
    --clr-primary: #6D28D9;
    --clr-primary-light: #8B5CF6;
    --clr-primary-dark: #4C1D95;
    --clr-secondary: #22C55E;
    --clr-secondary-light: #86EFAC;
    --clr-secondary-dark: #15803D;

  
    /**
    * @typography
    * - sizes
    * - font-family
    */
    --font-family-segoe: 'Segoe UI', sans-serif;
    --typography-headline-1: bold 48px var(--font-family-segoe);
    --typography-headline-2: bold 40px var(--font-family-segoe);
    --typography-headline-3: bold 32px var(--font-family-segoe);
    --typography-headline-4: bold 28px var(--font-family-segoe);
    --typography-headline-5: bold 24px var(--font-family-segoe);
    --typography-headline-6: bold 20px var(--font-family-segoe);
    --typography-subtitle: bold 18px var(--font-family-segoe);
    --typography-label: bold 16px var(--font-family-segoe);
    --typography-body-1: regular 18px var(--font-family-segoe);
    --typography-body-1-bold: bold 18px var(--font-family-segoe);
    --typography-body-2: regular 16px var(--font-family-segoe);
    --typography-body-2-bold: bold 16px var(--font-family-segoe);
    --typography-overline: regular 14px var(--font-family-segoe);

    /**
    * @break-points
    */
    --break-point-xs: 576px;
    --break-point-sm: 768px;
    --break-point-md: 960px;
    --break-point-lg: 1264px;
    --break-point-xl: 1900px;
}