/**
* @breakpoints
*/
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 960px;
$breakpoint-lg: 1264px;
$breakpoint-xl: 1900px;

:root {
    /**
    * @color-palette
    */

    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-grey: #737373;
    --clr-grey-light: #D4D4D4;
    --clr-grey-dark: #404040;
    --clr-primary: #C084FC;
    --clr-primary-light: #E9D5FF;
    --clr-primary-dark: #9333EA;
    --clr-secondary: #FACC15;
    --clr-secondary-light: #FDE68A;
    --clr-secondary-dark: #D97706;
    --clr-error: #F87171;
    --clr-success: #4ADE80;

  
    /**
    * @typography
    * - sizes
    * - font-family
    */
    --font-family-segoe: 'Segoe UI', sans-serif;
    --typography-headline-1: bold 48px var(--font-family-segoe);
    --typography-headline-2: bold 40px var(--font-family-segoe);
    --typography-headline-3: bold 32px var(--font-family-segoe);
    --typography-headline-4: bold 28px var(--font-family-segoe);
    --typography-headline-5: bold 24px var(--font-family-segoe);
    --typography-headline-6: bold 20px var(--font-family-segoe);
    --typography-subtitle: bold 18px var(--font-family-segoe);
    --typography-label: bold 16px var(--font-family-segoe);
    --typography-body-1: regular 18px var(--font-family-segoe);
    --typography-body-1-bold: bold 18px var(--font-family-segoe);
    --typography-body-2: regular 16px var(--font-family-segoe);
    --typography-body-2-bold: bold 16px var(--font-family-segoe);
    --typography-overline: regular 14px var(--font-family-segoe);
}